/* Aquí definimos las Custom properties */
:root{
   
    --negro                 : #212125;
    --negro-puro            : #000;
    --blanco                : #acadae;
    --blanco-puro           : #ffffff;
    --blanco-hover          : #2e2e32;
    --blanco-active         : #3b3b3f;
    --sombra-ppal           : #c9c9c9;
    --borde-negro           : #00000050;
    --naranja               : #fe823c;
    --descripcion           : #303134;
    --descripcion-border    : #3d3d41;

    /* Tipografía */
    --tipo-principal        : 'Product Sans Regular' , 'Roboto', sans-serif;
}
    
/* Las adaptamos al modo oscuro */
// @media (prefers-color-scheme: dark) {
//     :root{
//         --negro                 : #acacac;
//         --negro-puro            : #FFF;
//         --blanco                : #3b3b3f;
//         --blanco-puro           : #000000;
//         --blanco-hover          : #c9c9c9;
//         --blanco-active         : #c6c6c6;
//         --sombra-ppal           : #c9c9c9;
//         --borde-negro           : #FFFFFF50;
//         --naranja               : #fe823c;
//         --descripcion           : #d5d5d5;
//         --descripcion-border    : #dedede;
    
//     }
// }
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
// @media (prefers-contrast: high){
//     :root{
//         
//     }
// }
